<a href="https://colab.research.google.com/github/christianmerkwirth/colabs/blob/master/Snippets_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using BigQuery with Pandas API


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

In [0]:
from google.colab import auth
auth.authenticate_user()

In [0]:
import pandas as pd

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'river-vigil-178615'
sample_count = 2000
row_count = pd.io.gbq.read_gbq('''
  SELECT 
    COUNT(*) as total
  FROM [bigquery-public-data:samples.gsod]''', project_id=project_id, verbose=False).total[0]
df = pd.io.gbq.read_gbq('''
  SELECT
    *
  FROM
    [bigquery-public-data:samples.gsod]
  WHERE RAND() < %d/%d
''' % (sample_count, row_count), project_id=project_id, verbose=False)
print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

In [0]:
df.describe()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,mean_sealevel_pressure,mean_station_pressure,mean_visibility,mean_wind_speed,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,min_temperature,total_precipitation,snow_depth
count,1991.000000,1991.000000,1991.000000,1991.000000,1991.000000,1991.000000,1991.000000,1906.000000,1517.000000,770.000000,1813.000000,1972.000000,1930.000000,259.000000,1988.000000,0.0,1830.000000,114.000000
mean,512401.349573,90404.040181,1987.279759,6.532396,15.512808,51.797840,12.904068,41.326128,1015.022742,965.299221,12.408274,6.705882,12.121865,24.976834,43.308853,NaN,0.071339,9.661403
std,295708.086879,25989.790289,16.121137,3.471033,8.873410,24.440612,7.826468,23.364417,9.658672,70.087111,9.908765,4.989015,6.749390,8.280008,24.462858,NaN,0.303457,11.116833
min,10015.000000,191.000000,1934.000000,1.000000,1.000000,-48.700001,4.000000,-53.200001,952.000000,604.599976,0.000000,0.000000,1.000000,7.000000,-57.099998,NaN,0.000000,0.400000
25%,264930.000000,99999.000000,1978.000000,4.000000,8.000000,37.450001,7.000000,28.475000,1009.799988,945.725006,6.600000,3.400000,7.800000,19.000000,30.200001,NaN,0.000000,2.000000
50%,557730.000000,99999.000000,1989.000000,7.000000,15.000000,55.400002,8.000000,44.400002,1014.500000,995.250000,9.900000,5.600000,11.100000,23.299999,46.599998,NaN,0.000000,6.700000
75%,725280.000000,99999.000000,2001.000000,10.000000,23.000000,70.599998,23.000000,58.074999,1020.599976,1009.175003,14.900000,8.800000,15.000000,29.900000,61.000000,NaN,0.010000,12.000000
max,999999.000000,99999.000000,2010.000000,12.000000,31.000000,98.000000,24.000000,81.400002,1056.900024,1038.500000,99.400002,44.400002,58.299999,56.900002,88.900002,NaN,5.790000,60.599998

## More info

- The [GSOD sample table](https://bigquery.cloud.google.com/table/bigquery-public-data:samples.gsod) contains weather information collected by NOAA, such as precipitation amounts and wind speeds from late 1929 to early 2010.
- [Pandas GBQ Documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_gbq.html)

# Using BigQuery with Cloud API


1.   Use the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) to Create a Cloud Platform project if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project.

[BigQuery Documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html)

In [0]:
from google.colab import auth
auth.authenticate_user()

In [0]:
from google.cloud import bigquery

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = 'river-vigil-178615'
client = bigquery.Client(project=project_id)

for dataset in client.list_datasets():
  print(dataset.dataset_id)

spark_bigquery_staging_us